<% define "index" %>

<body class="main">
  <div id="wrapper">

    <div id="sidebar">

      <div class="show-sidebar">
        <i title="Show Sidebar" class="fa fa-arrow-right show-sidebar"></i>
      </div>

      <div class="logo">
        <i title="Hide Sidebar" class="fa fa-arrow-left hide-sidebar"></i>

        <a href="/">
          <span class="name">
            <i style="font-size:0.9em;margin-right:5px;" class="fa fa-diamond"></i>
            Ko<strong>lide</strong>
          </span>
          <span class="version"><% Version %></span>
        </a>
      </div>

      <div class="nodes-filter">
        <i class="fa fa-search search-icon"></i>
        <input placeholder="Filter Nodes" id="nodes-filter" class="search" type="text">
      </div>

      <ul id="nodes" class="list scrollbar">
        <% if .Nodes %>

        <% range .Nodes %>
        <li class="node <% if .Enabled %>online<% else %>offline<% end %>" data-id="<% .Id %>" data-node-id="<% .Key %>">

          <i class="fa fa-circle status-icon"></i>

          <div class="node-header">
            <span class="node-name"><% .Name %></span>
          </div>

          <div class="node-metadata">
            <span class="node-ip"><% .Address %> (<% DateFormat .Updated "M d, Y g:i:s A" %>)</span>
          </div>

          <span class="online-status" style="display:none;"><% if .Enabled %>1<% else %>0<% end %></span>
          <span class="node-node-id" style="display:none;"><% .Key %></span>
        </li>
        <% end %>

        <% else %>
          <span class="no-data">No nodes found</span>
        <% end %>
      </ul>

      <div class="sidebar-footer">
        <% Name %> (<% Version %>) by Dustin Willis Webber
      </div>
    </div>

    <div id="header">
      <div class="title">Query All Nodes</div>

      <div id="user-control">
        <img height="20px" width="20px" class="avatar-30" src="<% .User.AvatarLink %>" alt="user-avatar" />

        <span class="user-name">
          <% .User.Name %>
        </span>

        <span class="split">|</span>
        <a href="#" class='logout'>
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
      </div>
    </div>

    <div id="kolide-query">
      <div id="editor"></div>

      <div class="kolide-control">

        <div id="flash-message" class="error">
          <span class="success">Query successfully saved.</span>
        </div>

        <a href="#" class="button action run-query <% if not .Nodes %>disabled<% end %>">
          Run Query
        </a>

        <a href="#" class="button export-results <% if not .Nodes %>disabled<% end %>">
          Export
        </a>

        <div class="table-filter">
          <i class="fa fa-search search-icon"></i>
          <input placeholder="Filter Results" id="table-filter-input" type="text" name="table-filter">
        </div>

        <a href="#" class="load-query button right save">Load</a>
        <a href="#" class="save-query button right save">Save</a>
      </div>
    </div>

    <div id="content">
      <div class="loading"></div>
      <div id="tables"></div>
      <div class="wrapper">

      </div>
    </div>
  </div>

  <% template "templates.html" . %>

</body>

<% end %>
