[Unit]
Description=Kolide Web Interface

[Service]
User=kolide
Group=kolide
OOMScoreAdjust=-1000
ExecStart=/usr/bin/kolide --config /etc/kolide/kolide.toml

[Install]
WantedBy=multi-user.target
